
@media(max-width: 1024px)
{
    .photos{ padding-left: 0px;
    }  
    #slova{word-spacing: 10px}
    #seti{word-spacing: 10px;}
    .photo{padding-left:50px;}
    


    .pomidori{width:300px;}
    #trec{width: 300px;}
    div#wrec.container > div.row > div.col-4  > img{width: 100%;}
    


.itomato{width:100%;}
.ttitle1{font-size: 40px;}

 

 .bgimage{width: 100%;}
 .pole1{width: 450px;}
 .pole2{width: 450px;} 
 .pole3{width:200px; height: 55px; border-radius: 10px;}
 .buttoncapcha{height: 55px; width: 150px;}  
   
}


@media(max-width: 768px)
{ 
    nav{visibility: hidden;}
    .menusite{visibility: unset;}  
    .nav{width: 100%;} 
    .title1{margin-top: 20px;}
 .image1{width: 350px;} 
 .title2{font-size: 40px;}
 .photos{width: 225px;}
 .title3{font-size: 20px;}
 .text2{font-size: 14px;}
 .products{width: 30%; height: 30%;}
 .tmts{font-size: 10px;}
 #slova{word-spacing: 10px;font-size: 13px;}
 #seti{word-spacing: 2px;}
 #seti>span>img{width: 20px; height: 20px;}
 img.photo{padding-left:10px;}
 


.bgimage{padding-top: 35px; width: 100%;}
.pomidori{width:200px;height: 200px; }
    #trec{width: 200px; margin-block-start: -5px; height:80px;}
    .ntitle{font-size:17px;}
    .text{font-size: 15px;}
    .Name{font-size: 36px}




.itomato{height: 350px;}
.ttitle1{font-size: 35px;}
#header{padding-bottom: 50px;}
.tomat{font-size: 20px; padding-top: 20px;}




.bgimage{width: 100%;
padding-top: 0px;}
.pole1{width: 250px;}
.pole2{width: 250px;} 
.pole3{width:180px; height: 55px; border-radius: 10px; }
.buttoncapcha{height: 55px; width: 150px;}  
.pole{width: 250px;}
.capcha{float:right; margin-block-start: -50px;}    
}

@media(max-width: 640px)
{
    #fpryam{font-size: 10px;
    bottom: 10px;}
.Pryam2{height:40px ;}
.linslova{font-size: 9px;}
.Pryam{height: 40px;}
#seti{
bottom: 10px;}
#seti>span>img{width: 14px; height: 14px;}
.text2{font-size: 10px;}
.title3{font-size: 15px;}
.photo{padding-left:10px; width: 100%;}
.photos{width: 100%;}
.title2{font-size: 30px;}
.title1{font-size:23px;
  margin-top: 20px;}
.text{font-size:15px;}
.image1{width: 250px;}
.tmts{font-size: 8px; } 
.products{width: 35%; height: 30%; margin-bottom: 10px;}
#logo{width: 25%; height: 25%;}
.title{font-size: 30px;}
.icosearch{width: 220px;}
.icosearch input{width: 200px;}
.button{margin-bottom:100px; width: 120px;
    height: 45px;}
#main1{background-size: 200%;}
.menu__box{width: 160px;}
.menu__item{font-size: 10px; padding: 12px 12px;}



.bgimage{width: 100%;}
.pomidori{width:150px;height: 150px;}
    #trec{width: 150px; margin-block-start: -5px; height:80px;}
    .ntitle{font-size:17px;}
    .text{font-size: 13px;}
    .mtext{font-size: 13px;}
    .Name{font-size: 26px}
    .stars{font-size: 26px}
    .text{font-size:15px}
    .texta{font-size:15px}
    div.container>img{height: 50px;}



.itomato{height: 250px;}
.ttitle1{font-size: 25px;}
#header{padding-bottom: 50px;}
.tomat{font-size: 12px; padding-top: 20px; margin-inline-start:90px}
.rec{width: 80px;}




.bgimage{width: 100%;
    padding-top: 0px;}
.pole1{width: 250px;}
.pole2{width: 250px;} 
.pole3{width:90px; height: 50px; border-radius: 10px;}
.buttoncapcha{height: 50px; width: 110px; padding-left: 10px; padding-right: 10px; float: right; }  
.pole{width: 250px;}
.capcha{float:right; margin-block-start: -50px;} 
.context{font-size: 12px;}
.context1{font-size: 12px;}     
}

@media(max-width: 480px)
{
    .products{width: 20px; height: 20px; margin-bottom: 0px;}
.tmts{font-size: 10px; }
#main1{background-size: 275%;}
.title1{margin-top: 20px;} 
.title{font-size: 25px;}
.title3{font-size: 12px;} 
#slova{word-spacing: 5px;font-size: 8px;}  
#fpryam{font-size: 8px;}
.photos{width: 100px;
height: 100px;}
.photo{width: 100px;}
.Pryam2{height:35px ;}
.linslova{font-size: 8px;}
#seti{word-spacing: 1px;
padding-left: 350px;
bottom: 20px;}
#seti>span>img{width: 14px; height: 14px;} 



.pomadori{width:115px;height: 115px;}
    #trec{width: 125px; margin-block-start: 0px; height:80px;}
    .ntitle{font-size:15px;}
    .text{font-size: 13px;}
    .mtext{font-size: 10px;}
    .Name{font-size: 20px}
    .stars{font-size: 20px}
    .texta{font-size:13px}
    div.container>img{height: 50px;}




.itomato{height: 200px;
width: 200px;}
.ttitle1{font-size: 20px;}
#header{padding-bottom: 50px;}
.tomat{font-size: 12px; padding-top: 20px; margin-inline-start:60px}
.rec{width: 50px;}
.stars{font-size: 15px}
.tomatitle{font-size: 13px;}
.tomtext{font-size: 9px;}
.spisok{font-size: 8px;}
.photos1{width: 150px;}
.button1{font-size: 8px;
height: 35px;
width: 130px;}
.button1 img{width: 15px;
height: 15px;}
 



 .pole1{width: 200px;}
 .pole2{width: 200px;} 
 .pole3{width:200px; height: 55px; border-radius: 10px; }
.buttoncapcha{height: 55px; width: 180px; padding-left: 10px; padding-right: 10px;}  
 .pole{width: 200px;}
 .capcha{float:right; margin-block-start: -50px; width: 70px;} 
 .context{font-size: 12px;} 
 .context1{font-size: 12px;}    
}

@media(max-width: 400px)
{
    .products{width: 20px; height: 20px; margin-bottom: 0px;}
    .tmts{font-size: 7px; }
    div.icoprod>div.container>div.row>div.col{width: 33px;} 
    div.icoprod>div.container>div.row>div.col{width: 66px;}
    div#vis.col-4{width: 132px;}
    div#vis.col{width: 200px;}
    #main1{background-size: 300%;}
    .title1{margin-top: 20px;}
    .image1{width: 200px;
    height: 200px;} 
    .title{font-size: 20px;}
    .title3{font-size: 10px;} 
    #slova{word-spacing: 5px;font-size: 10px;}  
    #fpryam{font-size: 7px;}
    .Pryam2{height:35px ;}
    .linslova{font-size: 7px;}
    #seti>span>img{width: 10px; height: 10px;} 
    #seti{word-spacing: 0px;
    padding-left: 300px;
    bottom: 20px;}
    .icosearch{width: 180px;}
    .icosearch input{width: 160px;}
    .text2{font-size: 8px;}
    .title2{font-size: 20px}
      


    .pomidori{width:110px;height: 110px;}
    #trec{width: 110px; margin-block-start: 0px; height:50px;}
    .ntitle{font-size:12px;}
    .text{font-size: 10px;}
    .mtext{font-size: 10px;}
    .Name{font-size: 17px}
    .stars{font-size: 17px}
    .texta{font-size:13px}
    div.container>img{height: 50px;}


 

    .itomato{height: 140px;
        width: 150px;}
    .imtitle{font-size: 10px;}
    .ttitle1{font-size: 15px;}
    #header{padding-bottom: 50px;}
    .tomat{font-size: 10px; padding-top: 5px; margin-inline-start:60px}
    .rec{width: 40px;}
    .stars{font-size: 10px; margin-bottom: 0px;}
    .button1{font-size: 8px;
        height: 30px;
        width: 125px;}
        .button1 img{width: 15px;
        height: 15px;}
    .tomatitle{font-size: 10px;}
    .photos1{width: 100%;}   

    
    

.pole1{width: 180px;}
.pole2{width: 180px;} 
.pole3{width:180px; height: 55px; border-radius: 10px; margin-block-start: -5px;}
.buttoncapcha{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
.pole{width: 190px;}
.capcha{float:right; margin-block-start: -42px; padding-right: -10px; width: 60px;} 
.context{font-size: 10px;}
.context1{font-size: 10px;}  
.contitle{font-size: 30px;}
}

@media(max-width: 320px)
{
    .products{width: 20px; height: 20px; margin-bottom: 0px;}
    .tmts{font-size: 6px; }
    div.icoprod>div.container>div.row>div.col{width: 26px;} 
    div#vis.col-4{width: 106px;}
    div#vis.col{width: 160px;}
    #main1{background-size: 375%;} 
    .title{font-size: 17px;}
    .title3{font-size: 8px;} 
    #slova{word-spacing: 5px;font-size: 5px;}  
    #fpryam{font-size: 7px;}
    #seti{padding-left: 40px;
    bottom: 10px;}
    .Pryam2{height:35px ;}
    .linslova{font-size: 7px;}
    #seti>span>img{width: 8px; height: 10px;} 
    div.col-sm-9{width: 200px;}
    div.col-sm-3{width: 120px;}
    .icosearch{width: 140px;}
    .icosearch input{width: 120px;}
    .text2{font-size: 8px;}
    .title2{font-size: 20px}
    .image1{width: 160px; height: 160px;}
    


   .pomidori{width:90px;height: 90px;}
    #trec{width: 90px; margin-block-start: 0px; height:50px;}
    .ntitle{font-size:12px;}
    .text{font-size: 10px;}
    .mtext{font-size: 8px;}
    .Name{font-size: 17px}
    .stars{font-size: 17px}
    .texta{font-size:13px}
    div.container>img{height: 50px;}  




.itomato{height: 100px;
    width: 100px;}
.imtitle{font-size: 8px;}
.ttitle1{font-size: 12px;}
#header{padding-bottom: 50px;}
.tomat{font-size: 8px; padding-top: 5px; margin-inline-start:40px}
.rec{width: 35px;}
.stars{font-size: 10px; margin-bottom: 0px;}
.button1{font-size: 8px;
    height: 30px;
    width: 125px;}
    .button1 img{width: 15px;
    height: 15px;}
.tomatitle{font-size: 10px;}
.photos1{width: 100%; margin-block-start: 0px;}
 



 .pole1{width: 140px;}
 .pole2{width: 140px;} 
 .pole3{width:140px; height: 55px; border-radius: 10px; margin-block-start: -10px;}
 .buttoncapcha{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
 .pole{width: 140px;}
 .capcha{float:right; margin-block-start: -42px; padding-right: -10px; width: 60px;} 
 .context{font-size: 8px;} 
 .context1{font-size: 8px;}
 .contitle{font-size: 24px;}     
}