@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-Bold.woff') format('woff'),
    url('../fonts/RobotoSlab-Bold.ttf') format('truetype'),
    url('../fonts/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
font-weight: normal;
font-style: normal;
font-display: swap;
}

body {
  margin: 0;
   background-color:  rgb(245, 245, 245);
}
.icoprod{
  background-color: white;
  margin-bottom: 75px;
}
#main1{
  position:relative;
  background-image: url(../images/bg.png);
}

.title{
    font-family: 'RobotoSlab';
    color:#74533e;
    margin-top: 183px;
    margin-bottom: 75px;
}

.button {
    margin-top: 0px;
    margin-bottom: 300px;
    color: rgb(255, 255, 255);
    background: rgb(74, 150, 74);
    width: 130px;
    height: 45px;
    border: 0;
}


.products{ 
  
  white-space: nowrap;
  display: block;
  margin-bottom: 15px;
}

#main{
  position:static;
  background-color: rgb(245, 245, 245);
  background-image: url(../images/bg2.png); 
margin-bottom: 50px;
}

.title1{
  font-family: 'RobotoSlab';
  font-size: 64px;
  color: #324950;
  margin-bottom: 10px;
  margin-top: 110px;
}
.stars{
  font-size: 20px;
    color:#47aa36;
    margin-bottom: 10px;
}


.icosearch{
  width:350px;
  height: 29px;
  color:black;
  border-bottom: 1px solid #324950;
}
.icosearch input
{
    width:330px;
    font-size: 16px;
    background:transparent;
    outline:0;
    border:0;
}

.icosearch img
{
    position:absolute;
    right:0px;
    top:0px;
}

.text{
  font-size: 18px;
 font-family: 'RobotoSlab-bolt';
}
.image1{
  margin-top: 20px;
}

#main2{
  position:static;
  background-color: rgb(238, 237, 237);
}

.title2{
  font-family: 'RobotoSlab';
  color:rgb(92, 64, 5); 
  margin-top: 50px;
}
.star2{
  font-size: 20px;
    color:#47aa36;
}
.title3{
  font-size: 26px;
  font-family: 'RobotoSlab-Bold';
  text-align: center;
  color: #47aa36;
}

.photos{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.photo{
  display: block;
    margin-left: auto;
    margin-right: auto;
}
.text2{
  font-size: 20px;
  font-family: 'RobotoSlab-Bold';
  text-align: center;
}
.Pryam{
  background: #26363b;
 height: 60px;
}
#seti{
  padding-top: 20px;
  word-spacing: 15px;
}
#seti>span>img{ width:30px; height:30px}
#slova{
  word-spacing: 20px;
}
.Pryam2{
  background: #2D3F45;
  height:  60px; 
}

.bgimage{
  
  margin-left: 15px;
}
.Name{
  font-family: 'RobotoSlab';
  color: #324950;
  margin-bottom: 30px;
}
.texta{
  font-size: 18px;
 font-family: 'RobotoSlab-bolt';
 margin-left: 35px;
}
.rec{
  float: left;
}
#newmain{
background-color: rgb(255, 239, 242);
}
#wrec{
  background: #FFFAFA;
}
.ntitle{
  margin-block-start: 50px;
    font-weight: 700;
    font-size:20px;
}
.pomidori{
  overflow: hidden; 
    height: 252px;
    width: 350px;
}
#trec{margin-block-start: -14px;
  width: 350px;
  height:69px;
  background-color: #ffffff;
}
.mtext{
  font-size: 18px;
  font-family: 'RobotoSlab-bolt';
  color:#4f9738;  
}
#header{
  box-shadow: 0 5px 10px #ccc;
  width: 100%;
}
#bgTomato{
  position: static;
  width: 100%;
  background-image: url(../images/bgTomato.png);
}
.itomato{
  width: 510px;
  height: 500px;
  margin-left: 40px;
  margin-top: 20px;
}
.ttitle1{
  font-family: 'RobotoSlab';
  font-size: 52px;
  color: #324950;
}
.ttext{
  color:rgb(77, 155, 77);
}
.imtitle{
  color:rgb(77, 155, 77);
  font-size: 14px;
  margin-left: 5px;
}
.tomat{
  font-family: 'RobotoSlab';
  font-size: 32px;
  color: rgb(218, 24, 24);
}
.tomatitle{
  font-size: 19px;
  font-family: 'RobotoSlab';
  color:rgb(77, 155, 77);
}
.photos1{
  display: block;
  margin-bottom: 20px;
}
.button1{
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border-color: #47aa36;
  float: right;
  height: 45px;
  width: 180px;
  font-family: 'RobotoSlab';
  color:#47aa36;
  font-size: 13px;
}
.iimage{
height: 25px;
width: 25px;
margin-right: 10px;
}
.spisok{
  color:#47aa36; 
}
#slova{
  top:20px;
}
.contitle{
  font-family: 'RobotoSlab';
  font-size: 40px;
  color: #324950;
  margin-top: 45px;
}
.pole{
  width: 300px;
  height: 45px;
  border-radius: 6px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
}
.context{
  font-family: 'RobotoSlab';
  font-size: 14px;
}

.pole1{
  width: 575px;
  height: 45px;
  border-radius: 6px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
}
.pole2{
  width: 575px;
  height: 338px;
  border-radius: 6px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
}
.pole3{
  width: 200px;
  height: 45px;
  border-radius: 6px;
  border-color: rgb(230, 230, 230);
  border-style: solid;
  margin-left: 20px;
}
.buttoncapcha{
  background-color: #378d28;
  border-radius: 100px;
  font-family: 'RobotoSlab-bolt';
  color:#ffffff;
  font-size: 15px;
  height: 45px;
  width: 210px;
  border: 0;
  margin-left: 350px;
}
#contmain{
  background-color: rgb(255, 255, 255);
}
.ctext{
  font-size: 18px;
  font-family: 'RobotoSlab';
  text-align: center;
  color: #47aa36;
}
.ctext1{
  font-family: 'RobotoSlab-bolt';
  margin-bottom: 0px;
}

.nav
{
    display:flex;
    position: relative;
    width:70%;
}

.nav form
{
    display: block;
    position: absolute;
    right:0;
    top:0;
}

.nav nav
{
    position: absolute;
    right:0;
    bottom: 10px;
}

nav a
{
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-decoration:none;
    color: #324950;
    margin-right: 10px;
    transition: color .1s linear;
}

.nav_item:hover
{
    text-decoration: none;
    color:#6592a0;
}

.nav_item:last-child
{
    margin-right: 0;
}
.icosearch{
  margin-right: 5px;
}
.linesearch{
  margin-left: 92px;
}
.textsearch{
  margin-left: 92px;
}
.menusite{float: right;
  visibility: hidden;
}


#menu__toggle {
  float: right;
  opacity: 0;
}

.menu__btn {
  float: right;
  display: flex; 
  align-items: center;  
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;

  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility:hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 1;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}


#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.image1{width: auto;}
  .tmts{visibility: visible; padding-bottom: 30px;}
  .photo{
    padding-left: 80px;
}
.bgcitrus{
  margin-top: 10px;
  width: 100%;
 
}
.tomatoInfo{text-align: center; background-color: #f7aea9; margin-bottom: 10px; width: 100%; height: 80px; color:#7e2926}
.tomatoImg>img{width: 100%; height: 200px;}
#newmain2{
  background-color: #f8cb8f;
}
#wrec1{
  background-color: #ffb46e;
}
#itomato1{
  width: 100%;
}
.tovar{
  display: flex;
}

.tovar-list{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.tovar-item{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 200px;

  box-shadow: 0 0 8px black;
  padding: 0;
  margin: 15px;
  margin-left: 0px;
}

.tovar-item-right{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 auto;
}

.tovar-item-subtitle{
  text-align: center;
}

.tovar-item-subtitle h2{
  color: #57984C;
}

.tovar-item a:hover{
  cursor: pointer;
}

.tovar-item-img{
  width: 233px;
  height: 200px;
  overflow: hidden;
  margin-right: 10px;
}

.tovar-item-img img{
  width: 100%;
  height: 100%;
}

a.tovar-cross{
  margin-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  align-self: center;
  text-decoration: none;
}
a.tovar-cross:hover{text-decoration: none;
  color: #800000;

}

.tovar-cross-img img{
  width: 100%;
  height: 100%;
}

