<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Web Page</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <div id="header">
            <pre></pre>
            <div class="menusite" >
                <input id="menu__toggle" type="checkbox" >
                <label class="menu__btn" for="menu__toggle" >
                <span></span>
                </label>
                <ul class="menu__box" >
                  <li><a class="menu__item" href="index.html">Home</a></li>
                  <li><a class="menu__item" href="#">Company</a></li>
                  <li><a class="menu__item" href="#">Profile</a></li>
                  <li><a class="menu__item" href="index2.html">Products</a></li>
                  <li><a class="menu__item" href="#">Services</a></li>
                  <li><a class="menu__item" href="#">R&D</a></li>
                  <li><a class="menu__item" href="index4.html">Contact</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <img id="logo" src="images/Logo.png" alt="Logo" width="200" hight="200">
                    <pre></pre>
                  
                  
                      <div class="nav">
                         
                          <form>
                             
                              <div class="icosearch">
                               <input name=search placeholder=Search>
                               <img src="images/lupa.png">
                              </div>
                          </form>
                          <nav>
                             <a href="index.html"> Home </a>
                             <a href="#"> Company Profile </a>
                             <a href="index2.html"> Products </a>
                             <a href="#"> Service </a>
                             <a href="#"> R&D </a>
                             <a href="index4.html"> Contact </a>
                          </nav>
                      </div>
                  </div>
              </div>
        <div id="bgTomato">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <pre></pre>
                        <img src="images/Arrow 1.png"><a href="index2.html" class="imtitle">Return to all tomatoes</a>
                    </div>
                </div>
            </div>
            <div id=Citrus class="container">
                <div class="row">
                    <div class="col-6">
                        <pre></pre>
                        <p class="ttitle1">{{product.title}}<span class="ttext"><br>{{product.short_text}}</span></p> 
                        <pre></pre>
                        <p class="stars">
                         *****
                        </p>
                        <pre></pre>
                        <img class="rec" src="images/Group 17.png">  
                        <p class="tomat">
                          Very high yield and<br> exellent fruits quality!
                        </p>
                        <pre></pre>
                        <p class="tomatitle"> CHARACTERISTICS</p> 
                        <img class="photos1" src="images/Line 2.png">
                        <p class="tomtext"> <b>Resistance</b><br>HR: ToMV:0-2; Fol: 1,2; Ve/Vd;<br>IR: TYLCV</p>
                        <pre></pre>
                        <p class="tomatitle"> Plant </p>
                        <img class="photos1" src="images/Line 2.png">
                        <ul class="spisok">
                        <li><font color="black">Strong vigor that provides good leaf coverage.</font></li>
                        <pre></pre>
                        <li><font color="black">Very high productivity with good fruit setting.</font></li>
                        <pre></pre>
                        <li><font color="black">Early matured variety.</font></li>
                        </ul>
                        <pre></pre>
                        <p class="tomatitle"> Fruit </p>
                        <img class="photos1" src="images/Line 2.png"> 
                        <ul class="spisok">
                        <li><font color="black">Long shelf life on plant and post hatvest.</font></li>
                        <pre></pre>
                        <li><font color="black">Nice shiny attractive deep red color.</font></li>
                        <pre></pre>
                        <li><font color="black">Average fruit size: 140-160 grams.</font></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <img id="itomato1" :src="'img/'+product.image" style="margin-bottom: 30px;">
                        <button type="button" class="button1 button1-outline-success button1-rounded" style=" padding: 20px,10px;" @click.prevent="addTotovar(product.id)" v-if="!button1Visible"><b> Add to cart</b></button>
                        <button type="button" class="button1 button1-outline-success button1-rounded" style=" padding: 20px,10px;" v-on:click='button1Click' v-if="button1Visible"><b> Go to cart</b></button>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <pre></pre>
                      <p class="tomatitle"> Cycle </p>
                      <img class="photos1" src="images/Line 2.png"> 
                      <ul class="spisok">
                      <li><font color="black">Spring</font></li>
                      <pre></pre>
                      <li><font color="black">Fall</font></li>
                      <pre></pre>
                      <li><font color="black">Winter</font></li>
                      </ul>
                      <pre></pre>
                      <p class="tomatitle"> Color </p>
                      <img class="photos1" src="images/Line 2.png"> 
                      <p class="tomtext">Red</p>
                    </div>
                </div>
            </div>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            <pre></pre>
            <div class="Pryam">
                <div class="container">
                    <div class="row">
                        <div id="slova" class="col-sm-9">
                            <span> 
                                <a class="linslova" href="#"><font color="white">PROFILE</font></a>
                                <a class="linslova" href="#"><font color="white"> MANAGEMENT</font> </a>
                                <a class="linslova" href="#"><font color="white">  PRODUCTS</font> </a>
                                <a class="linslova" href="#"><font color="white"> R&D</font> </a>
                                <a class="linslova" href="#"><font color="white"> LINKS </font></a>
                                <a class="linslova" href="#"><font color="white"> SITEMAP </font></a> 
                                <a class="linslova" href="#"><font color="white"> CONTACT </font></a>
                            </span>
                        </div>
                        <div id="seti" class=" col-sm-3">
                            <span>
                                <img src="images/linkedin 5 4.png" >
                                <img src="images/Ico_inst.png"  >
                                <img src="images/youtube 5 4.png"  >
                                <img src="images/twitter 5 4.png"  >
                                <img src="images/facebook 5 4.png"   >
                               <pre></pre> 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Pryam2"> 
                <div class="container">
                    <div  class="row">
                        <div class="col-sm-12">
                            <a id="fpryam" class="col" href="#"><font color="gray"><center>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</center></font></a>
                        </div>
                    </div>
                </div>
            </div> 
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="js/main.js"></script>
    </body>
</html>