<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> Web Page</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
        <body> 
                <div id="header">
                    <pre></pre>
                 <div class="menusite" >
                <input id="menu__toggle" type="checkbox" >
                <label class="menu__btn" for="menu__toggle" >
                <span></span>
                </label>
                <ul class="menu__box" >
                  <li><a class="menu__item" href="index.html">Home</a></li>
                  <li><a class="menu__item" href="#">Company</a></li>
                  <li><a class="menu__item" href="#">Profile</a></li>
                  <li><a class="menu__item" href="index2.html">Products</a></li>
                  <li><a class="menu__item" href="#">Services</a></li>
                  <li><a class="menu__item" href="#">R&D</a></li>
                  <li><a class="menu__item" href="index4.html">Contact</a></li>
                </ul>
                 </div>
                    <div class="container">
                        <div class="row">
                            <img id="logo" src="images/Logo.png" alt="Logo" width="200" hight="200">
                            <pre></pre>
                  
                  
                          <div class="nav">
                         
                          <form>
                             
                              <div class="icosearch">
                               <input name=search placeholder=Search>
                               <img src="images/lupa.png">
                              </div>
                          </form>
                          <nav>
                             <a href="index.html"> Home </a>
                             <a href="#"> Company Profile </a>
                             <a href="index2.html"> Products </a>
                             <a href="#"> Service </a>
                             <a href="#"> R&D </a>
                             <a href="index4.html"> Contact </a>
                          </nav>
                         </div>
                        </div>
                    </div>
                </div>
                
                    <div class="row">  
                        <img class="bgimage" src="images/bgpoly.jpg"> 
                    </div>  
              
                <div id="Citrus" class="container">
                    <p class="contitle"> Contact us</p>
                    <table class="tovar"> 
                        <tr class="tovar-list">
                            <td class="tovar-item" v-for="item in tovar">
                                <div class="tovar-item-img">
                                    <img :src="'img/'+item.image" alt="">
                                </div>
                                <div class="tovar-item-right">
                                    <div class="tovar-item-subtitle">
                                        <h2>{{item.title}}</h2>
                                        <p>{{item.short_text}}</p>
                                    </div>
                                    <a class="tovar-cross" href="#" @click.prevent="removeFromtovar(item.id)">
                                        X
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="row">     
                    <div class="col-6">
                            <p class="stars">*****</p>
                            <pre></pre>
                        <p class="context">Name*</p>
                        <input class="pole" type="text" name="username">
                        <pre></pre>
                        <p class="context">Company Name</p>
                        <input class="pole" type="text" name="companyname">
                        <pre></pre>
                        <p class="context">Position</p>
                        <input class="pole" type="text" name="position">
                        <pre></pre>
                        <p class="context">City</p>
                        <input class="pole" type="text" name="city">
                        <pre></pre>
                        <p class="context">Country</p>
                        <input class="pole" type="text" name="country">
                        <pre></pre>
                        <p class="context">Telephone</p>
                        <input class="pole" type="text" name="number">
                        <pre></pre>
                        <p class="context">Email*</p>
                        <input class="pole" type="text" name="email">
                        </div>
                        <div class="col-6">
                            <p class="context">You are a</p>
                            <select class="pole1" name="select" size=1>
                             <option selected value="S1"> seed producer </option>
                             <option  value="S2"> farmer </option>
                             <option  value="S3"> agronomist </option>
                            </select>
                            <pre></pre>
                            <p class="context">If other, please specify</p>
                            <input class="pole1" type="text" name="other">
                            <pre></pre>
                            <p class="context">You are interesred in</p>
                            <input class="pole2" type="text" name="companyname">
                            <pre></pre>
                            <p class="context">Please type this code</p>
                            <p>
                            <img class="capcha" src="images/capcha.png">
                            <input class="pole3" type="text" name="capcha"> 
                            <button class="buttoncapcha"> Send Message</button>   
                            </p>
                        </div>  
                    </div>
                    </div>
                </div>
                <div id="contmain">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <pre></pre>
                                <pre></pre>
                                <pre></pre>
                               <p class="ctext"> Our Address</p>
                               <center><img class="photos1" src="images/Line 2.png"></center>
                               <p class="ctext1" align="center">AGRIDERA Seeds & Agriculture Ltd.</p>
                               <p class="ctext1" align="center">P.O Box 103,</p>
                               <p class="ctext1" align="center">Gedera 70750, Israel.</p>
                               <p class="ctext1" align="center">Telephone: <font color="#47aa36">+972 8 944 9222</font></p>
                               <pre></pre>
                               <pre></pre> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Pryam">
                    <div class="container">
                        <div class="row">
                            <div id="slova" class="col-sm-9">
                                <span> 
                                    <a class="linslova" href="#"><font color="white">PROFILE</font></a>
                                    <a class="linslova" href="#"><font color="white"> MANAGEMENT</font> </a>
                                    <a class="linslova" href="#"><font color="white">  PRODUCTS</font> </a>
                                    <a class="linslova" href="#"><font color="white"> R&D</font> </a>
                                    <a class="linslova" href="#"><font color="white"> LINKS </font></a>
                                    <a class="linslova" href="#"><font color="white"> SITEMAP </font></a> 
                                    <a class="linslova" href="#"><font color="white"> CONTACT </font></a>
                                </span>
                            </div>
                            <div id="seti" class=" col-sm-3">
                                <span>
                                    <img src="images/linkedin 5 4.png" >
                                    <img src="images/Ico_inst.png"  >
                                    <img src="images/youtube 5 4.png"  >
                                    <img src="images/twitter 5 4.png"  >
                                    <img src="images/facebook 5 4.png"   >
                                   <pre></pre> 
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Pryam2"> 
                    <div class="container">
                        <div  class="row">
                            <div class="col-sm-12">
                                <a id="fpryam" class="col" href="#"><font color="gray"><center>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</center></font></a>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
                <script src="js/main.js"></script> 
        </body>
</html>